$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'compass/css3';
@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#background-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0.35;
  filter: blur(1.5px);
}

.header {
    color: rgb(2, 27, 84);
}

.container {
    width: 960px;
    position: relative;
}

.app-title {
    margin-left: -50px;
    margin-bottom: -6px;
    font-size: 46px;
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    color: rgb(3, 31, 76);
    opacity: 0.7;
}

.tasks-input {
    width: 280px;
    height: 44px;
    margin-left: 300px;
    padding-left: 6px;
    font-size: 24px;
    color: rgb(89, 88, 88);
    border-radius: 6px;
}

.add-button {
    width: 60px;
    height: 34px;
    border-radius: 6px;
    box-shadow: none;
    font-size: 16px;
    color: white;
    opacity: 0.7;
    font-weight: 600;
    background-color: rgb(3, 31, 76);
}

.todo-items {
    margin-left: 300px;
    margin-top: 20px;
    background-color: rgb(240, 242, 145);
    border-radius: 4px;
}

.todo-item {
    border-bottom: 1px solid rgb(3, 31, 76);
    height: 44px;
    width: 348px;
    opacity: 0.7;
    padding-left: 4px;   
}

.task-buttons {
    display: inline-block;
    position: absolute;
    right: 300px;
    margin-top: 5px;
}

.description {
    display: inline-block;
    font-size: 22px;
    line-height: 44px;
}

.input-all {
  width: 650px;
}

// Button Positions

.remove-button {
  margin-bottom: 8px;
}

.edit-button {
  margin-bottom: 8px;
}

.complete-button {
  margin-bottom: 8px;
}

// Edit Input Div

.edit-input {
  display: none;
}

// Complete Button Edits

.description.strikethrough {
    text-decoration: line-through;
}










