$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'compass/css3';
@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}
.container {
    width: 960px;
    position: relative;
}

.app-title {
    margin-left: -50px;
    margin-bottom: -6px;
    font-size: 46px;
    text-align: center;
    margin-top: 100px;
    font-weight: 600;
    color: #5cb85c;
    opacity: 0.7;
}

.tasks-input {
    width: 280px;
    height: 44px;
    margin-left: 300px;
    padding-left: 6px;
    font-size: 24px;
    color: rgb(89, 88, 88);
    border-radius: 6px;
}

.add-button {
    width: 60px;
    height: 34px;
    border-radius: 6px;
    box-shadow: none;
    font-size: 16px;
    color: white;
    opacity: 0.7;
    font-weight: 600;
    background-color: #5cb85c;
}

.todo-items {
    margin-left: 300px;
    margin-top: 20px;
}

.todo-item {
    border-top: 1px solid #5cb85c;
    height: 44px;
    width: 348px;
    opacity: 0.7;   
}

.task-buttons {
    display: inline-block;
    position: absolute;
    right: 300px;
    margin-top: 5px;
}

.description {
    display: inline-block;
    font-size: 22px;
    margin-left: 4px;
    line-height: 44px;
}

.input-all {
  width: 650px;
}






